.Combatant {
    width: 67px;
    height: 14px;
    background: url("/assets/ui/combatant-plate.png") no-repeat no-repeat;
    position: absolute;
}

.Battle .Combatant {
    transform: scale(1.5);
}

.Battle .Combatant[data-active="false"] {
    opacity: 0;
}

.Battle .Combatant[data-active="false"] {
    opacity: 1;
}

.Combatant[data-team="player"] {
    top: 25px;
    left: 25px;
}

.Combatant[data-team="enemy"] {
    top: 25px;
    right: 25px;
}

.Combatant_character {
    display: block;
    position: absolute;
    left: -11px;
    bottom: -7px;
}

.Combatant_name {
    position: absolute;
    left: 3px;
    top: -8px;
    white-space: nowrap;
    background: var(--menu-font-color);
    color: #fff;
    font-size: 0.3rem;
    /* font-weight: 700; */

    padding: 0.1em;
    margin: 0;
}

.Combatant_type {
    position: absolute;
    left: 4px;
    top: -1px;
    height: 13px;
    width: 13px;
    object-fit: cover;
}

.Combatant_life-container {
    position: absolute;
    left: 20px;
    top: 4px;
    width: 26px;
    height: 3px;
}

.Combatant_life-container>rect {
    transition: width 0.2s;
}

.Combatant_xp-container {
    position: absolute;
    left: 20px;
    top: 8px;
    width: 26px;
    height: 2px;
}

.Combatant_level {
    position: absolute;
    font-size: 0.5rem;
    right: 2px;
    top: -1px;
    width: 17px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8C594;
    border: 1px solid #A48465;
    margin: 0;
}

.Combatant_status {
    position: absolute;
    font-size: 0.15rem;
    left: 15px;
    bottom: -4px;
    padding-left: 2px;
    padding-right: 2px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 0;
}

.Combatant_status[data-status="positive"] {
    color: green;
}

.Combatant_status[data-status="negative"] {
    background: red;
}