:root {
    --border-color: #291D4D;
    --dialog-background: #fff;

    --menu-background: #fff;
    --menu-border-color: #fff;
    --menu-font-color: #3A160D;
    --menu-selected-background: #7FC2FF;
}

* {
    box-sizing: border-box;
}

body {
    background: #444;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

.game-container {
    position: relative;
    width: 352px;
    height: 185px;
    margin: 0 auto;
    /* outline: 1px solid white; */

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}